__pycache__/
investments/__pycache__/
stockexchanges/__pycache__/
pip-log.txt
pip-delete-this-directory.txt
venv/
venv/Lib/

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
# Translations
*.mo
*.pot
*.pyc
*.exe
.vscode/
.idea/
# Django stuff:
*.log
*.db

# Sphinx documentation
docs/_build/

# PyBuilder
target/
.idea/
.vscode/
